:root {
  --colorBlack: #111517;
  --colorLight: #ffffff;
  --backLight: #f2f2f2;
  --backDark: #202c36;
  --inputLight: #848484;
  --inputDark: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
